<div class="home-icon">
    <img src="/assets/group.svg" class="Group">
</div>
<nav>
    <ul>
        <li ng-click="$ctrl.navigate('home')">HOME</li>
        <li ng-click="$ctrl.navigate('aboutus')">ABOUT US</li>
        <li ng-click="$ctrl.navigate('elements')">ELEMENTS</li>
        <li ng-click="$ctrl.navigate('faq')">FAQ</li>
    </ul>
    <button class="btn-inverse">Sign Up</button>
</nav>
<div class="banner">
    <p class="heading">Hi, This is hackathon</p>
    <p class="sub-heading">We know you have got talent and we want you to show it!</p>
    <button class="btn">
        click here
    </button>
</div>