@import url(../../../../css/core/global.less);

.carousel-container {
    background: #f2f2f2;
    text-align: center;
    padding: 50px 90px 60px 90px;
    .carousel-heading {
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 4px;
        color: #757575;
    }
    
    .carousel-subheading {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1.8px;
        color: #757575;
        margin-bottom: 50px;
    }

    .slick-container {
        width: 100%;
        border: 1px solid gray;
        margin: auto;
        padding: 15px;
        border: 0;

        .slick-item {
            width: 360px;
            height: 370px;
            border-radius: 5px;
            background-color: @white;
            margin: 10px;
            padding: 40px;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
            border: 1px solid @font-dark-gray;

            .icon-wrapper {
                height: 100px;
                width: 100px;
                padding: 4px;
                border: 1px solid @divider-light-gray;
                border-radius: 100%;
                margin: 0 auto;

                .icon-container {
                    height: 90px;
                    width: 90px;
                    border-radius: 100%;
                    background-color: @florocent-green;
                    border: 1px solid @divider-light-gray;
                    padding-top: 25px;

                    img {
                        height: 39.1px;
                        width: 42px;
                    }
                }
            }

            
        }

        .tile-icon {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 48.7px;
            display: block;
        }

        .tile-heading {
            font-family: Montserrat;
            margin-bottom: 27.5px;
            font-size: 24px;
            letter-spacing: 3px;
            text-align: left;
            color: #757575;
        }

        .tile-desc {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.57;
            letter-spacing: 1.8px;
            text-align: left;
            color: #757575;
        }
    }

    .slick-next {
        right: 19px;
    }

    .slick-prev {
        left: -17px;
    }

    .slick-prev:before, .slick-next:before {
        width: 360px;
        height: 370px;
        border-radius: 5px;
        font-size: 60px;
        color: #f9f9f9;
        opacity: 1;
    }
}