// Variables

// Colors
@background-dark-gray: #5d5c5e;
@divider-light-gray: #dddddd;
@florocent-green: #2effb5;
@light-gray: #f2f2f2;
@white: #ffffff;
@font-dark-gray: #757575;

@color-primary: @florocent-green;
@color-secondary: @background-dark-gray;
// Fonts

.transform(@prop) {
    -webkit-transform: @prop;
    -moz-transform: @prop;
    transform: @prop;
}

